

.wrapper {
	padding-left: 10px;
	padding-right: 10px;
	min-width: 900px;
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
}
.flex-wrapper {
	display: -webkit-flex;
	display: flex;
}
.nav-md {
	background: #fff;
}
.profile {
	text-align: center;
}

.menu_section {
	margin-bottom: 0 !important;
}
.serviceAll {
	flex: 1;
}

.addservice {
	text-align: center;
	padding: 15px 0;
}
.wr1 {
	margin-top: 15px;
}
.paging-cen {
	text-align: center;
}
.btn-col2 {
	margin-top: 10px;
}
.add {
	margin-left: 90px;
}

/*新增*/
.service1 {
	padding-left: 16px;
	margin-left: -8px;
}
.ll {
	padding-left: 5px;
}
/*新增01*/
.modal-footer {
	margin-top: 26px;
}
.glyphicon-asterisk {
	color: red;
	font-size: 12px;
	margin-right: 3px;
}
.selects {
	height: 30px;
	width: 200px;
	text-align: center;
}
.declar-txt {
	width: 200px;
}
.ch_init {
	margin-left: 14px;
}
.modal-dialog {
	height: 350px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 1000px;
}
.addlf {
	margin-left: 10px;
}
.wr {
	margin-top: 30px;
}

.news-p {
	font-size: 16px;
}
.add1 {
	margin-left: 0 !important;
}
.fl {
	float: left;
}
.layui-layer-title {
	font-size: 16px;
}
